/* Add on Font ------------------------------------------------------------ */
@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2")
    format("woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2")
    format("woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2")
    format("woff2");
  font-weight: 800;
  font-display: swap;
}
/* Normalize ------------------------------------------------------------ */
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}
/* Styler ------------------------------------------------------------ */
* {
  box-sizing: border-box;
}

html {
  font-size: max(6px, 0.52083333vw);
}

html body {
  font-family: "Pretendard", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

header,
main,
footer {
  width: 100%;
}

span,
img {
  display: block;
}
/* Variable ------------------------------------------------------------ */
:root {
  --margin-grid-system: 0 14rem;
  --maxWidth-grid-system: 164rem;
  --minWidth-block-system: 344px;
  --minHeight--block-system: 100dvh;
  --primary-color: rgba(155, 206, 38, 1);
  --secondary-color: rgba(16, 194, 16, 1);
  --main-color-pink: rgba(255, 74, 131, 1);
  --main-color-black: rgba(18, 18, 18, 1);
  --color-black: #000;
  --color-white: #fff;
  --box-border: 0.1rem solid red;
}
/* header ------------------------------------------------------------ */
header {
  position: fixed;
  width: 100%;
  height: 10rem;
  box-sizing: border-box;
  padding: var(--margin-grid-system);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  z-index: 100;
}

header > .hd-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
}
/* header > container-top ------------------------------------------------------------ */
header > .hd-container > .container-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > .hd-container > .container-top > .logo-wrapper {
  width: 20.3rem;
  height: 2.3rem;
  box-sizing: border-box;
  overflow: hidden;
}

header > .hd-container > .container-top > .logo-wrapper > img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

header > .hd-container > .container-top > .contact-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  gap: 1.2rem;
}

header > .hd-container > .container-top > .contact-wrapper a {
  font-size: 1.6rem;
  font-weight: 500;
}

header > .hd-container > .container-top > .contact-wrapper span {
  width: 0.2rem;
  height: 1.2rem;
  border-radius: 1.2rem;
  background-color: var(--color-white);
}
/* header > container-bottom ------------------------------------------------------------ */
header > .hd-container > .container-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header > .hd-container > .container-bottom > .left-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

header > .hd-container > .container-bottom > .left-box > .img-wrapper {
  width: 2.2rem;
  height: 1.2rem;
  box-sizing: border-box;
  overflow: hidden;
}

header > .hd-container > .container-bottom > .left-box > .img-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header > .hd-container > .container-bottom > .left-box > .text-box {
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 500;
}

header > .hd-container > .container-bottom > .right-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

header > .hd-container > .container-bottom > .right-box > .search-box {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}

header
  > .hd-container
  > .container-bottom
  > .right-box
  > .search-box
  > #search {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 0.1rem solid var(--color-white);
  box-sizing: border-box;
  padding: 0 1.2rem;
  font-family: "Pretendard";
  font-size: 1.4rem;
  font-weight: 400;
}

header
  > .hd-container
  > .container-bottom
  > .right-box
  > .search-box
  > #search::placeholder {
  border: none;
  stroke: none;
  color: var(--color-white);
}

header
  > .hd-container
  > .container-bottom
  > .right-box
  > .search-box
  > #search:focus::placeholder {
  color: transparent;
}

header
  > .hd-container
  > .container-bottom
  > .right-box
  > .search-box
  > #search:focus {
  border-bottom: 0.1rem solid var(--color-white);
  color: var(--color-white);
}

header
  > .hd-container
  > .container-bottom
  > .right-box
  > .search-box
  > #btnSearch {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

header
  > .hd-container
  > .container-bottom
  > .right-box
  > .search-box
  > #btnSearch
  > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header > .hd-container > .container-bottom > .right-box > .icon-wrapper {
  width: 2.4rem;
  height: 2.4rem;
  box-sizing: border-box;
  overflow: hidden;
}

header > .hd-container > .container-bottom > .right-box > .icon-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* main ------------------------------------------------------------ */
main {
  width: 100%;
  height: 100%;
  background-color: var(--color-white);
}
/* main > sec-top-banner ------------------------------------------------------------ */
main > .sec-top-banner {
  width: 100%;
  height: 100%;
}

main > .sec-top-banner > .swiper {
  width: 100%;
  height: 100%;
}

main > .sec-top-banner > .swiper > .swiper-wrapper > .swiper-slide {
  position: relative;
  width: 100%;
  height: 100%;
}

main
  > .sec-top-banner
  > .swiper
  > .swiper-wrapper
  > .swiper-slide
  > .img-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

main
  > .sec-top-banner
  > .swiper
  > .swiper-wrapper
  > .swiper-slide
  > .img-wrapper
  img {
  width: 100%;
  height: auto;
  min-height: var(--minHeight--block-system);
  object-fit: cover;
}

main
  > .sec-top-banner
  > .swiper
  > .swiper-wrapper
  > .swiper-slide
  > .text-wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  box-sizing: border-box;
  padding: var(--margin-grid-system);
  z-index: 10;
  color: var(--color-white);
  cursor: default;
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

main
  > .sec-top-banner
  > .swiper
  > .swiper-wrapper
  > .swiper-slide
  > .text-wrapper
  > .item-brief-box {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;
}

main
  > .sec-top-banner
  > .swiper
  > .swiper-wrapper
  > .swiper-slide
  > .text-wrapper
  > .item-brief-box
  > .item-produce-box {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  opacity: 0.8;
}

main
  > .sec-top-banner
  > .swiper
  > .swiper-wrapper
  > .swiper-slide
  > .text-wrapper
  > .item-brief-box
  > .item-produce-box
  > .item-label {
  font-weight: 400;
  font-size: 2.4rem;
}

main
  > .sec-top-banner
  > .swiper
  > .swiper-wrapper
  > .swiper-slide
  > .text-wrapper
  > .item-brief-box
  > .item-produce-box
  > .item-usage {
  font-weight: 400;
  font-size: 1.8rem;
}

main
  > .sec-top-banner
  > .swiper
  > .swiper-wrapper
  > .swiper-slide
  > .text-wrapper
  > .item-brief-box
  > .item-explain-box {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

main
  > .sec-top-banner
  > .swiper
  > .swiper-wrapper
  > .swiper-slide
  > .text-wrapper
  > .item-brief-box
  > .item-explain-box
  > h2 {
  font-weight: 700;
  font-size: 5.6rem;
  line-height: 1.3;
}

main
  > .sec-top-banner
  > .swiper
  > .swiper-wrapper
  > .swiper-slide
  > .text-wrapper
  > .item-brief-box
  > .item-explain-box
  > span {
  font-weight: 400;
  font-size: 2.8rem;
  opacity: 0.9;
}

main
  > .sec-top-banner
  > .swiper
  > .swiper-wrapper
  > .swiper-slide
  > .text-wrapper
  > .img-btn {
  width: 18rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 2.8rem;
  border: 2px solid var(--color-white);
  border-radius: 3.2rem;
  transition: all 0.3s ease-in-out;
}

main
  > .sec-top-banner
  > .swiper
  > .swiper-wrapper
  > .swiper-slide
  > .text-wrapper
  > .img-btn:hover {
  background-color: rgba(18, 18, 18, 0.7);
  transition: all 0.3s ease-in-out;
}

main
  > .sec-top-banner
  > .swiper
  > .swiper-wrapper
  > .swiper-slide
  > .text-wrapper
  > .img-btn
  > span {
  font-weight: 500;
  font-size: 1.8rem;
}

main
  > .sec-top-banner
  > .swiper
  > .swiper-wrapper
  > .swiper-slide
  > .text-wrapper
  > .img-btn
  > .img-wrapper {
  width: 0.8rem;
  height: 1.4rem;
  box-sizing: border-box;
}

main
  > .sec-top-banner
  > .swiper
  > .swiper-wrapper
  > .swiper-slide
  > .text-wrapper
  > .img-btn
  > .img-wrapper
  > img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: all 0.3s linear;
}

main
  > .sec-top-banner
  > .swiper
  > .swiper-wrapper
  > .swiper-slide
  > .text-wrapper
  > .img-btn:hover
  > .img-wrapper
  > img {
  transform: translateX(100%);
  transition: all 0.3s linear;
}

main > .sec-top-banner > .swiper > .swiper-pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  margin-bottom: 1.2rem;
}

main
  > .sec-top-banner
  > .swiper
  > .swiper-pagination
  > .swiper-pagination-bullet {
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  background-color: var(--color-black);
  opacity: 0.2;
  border-radius: 2.4rem;
}

main
  > .sec-top-banner
  > .swiper
  > .swiper-pagination
  > .swiper-pagination-bullet-active {
  background-color: var(--color-white);
  opacity: 1;
  width: 4.8rem;
}
/* main > sec-item-selection ------------------------------------------------------------ */
main > .sec-category {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  box-sizing: border-box;
  padding: 10rem 0;
}

main > .sec-category > .text-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  color: var(--main-color-black);
  cursor: default;
}

main > .sec-category > .text-box > .title {
  font-weight: 600;
  font-size: 4.8rem;
}

main > .sec-category > .text-box > span {
  font-weight: 500;
  font-size: 2rem;
  opacity: 0.8;
}

main > .sec-category > .marquee-wrapper {
  width: 100%;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow: hidden;
  contain: layout paint;
}

main > .sec-category > .marquee-wrapper > .marquee-box {
  display: flex;
  flex-shrink: 0;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  will-change: transform;
}

main > .sec-category > .marquee-wrapper > .marquee-box > .categories {
  flex-shrink: 0;
  width: 23rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  box-sizing: border-box;
  overflow: hidden;
}

main
  > .sec-category
  > .marquee-wrapper
  > .marquee-box
  > .categories
  > .img-container {
  width: 16.4rem;
  height: 16.4rem;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 2.4rem;
}

main
  > .sec-category
  > .marquee-wrapper
  > .marquee-box
  > .categories
  > .img-container
  > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

main
  > .sec-category
  > .marquee-wrapper
  > .marquee-box
  > .categories
  > .text-container {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: default;
}

main
  > .sec-category
  > .marquee-wrapper
  > .marquee-box
  > .categories
  > .text-container
  > .text-top {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: 600;
  font-size: 2.4rem;
}

main
  > .sec-category
  > .marquee-wrapper
  > .marquee-box
  > .categories
  > .text-container
  > .text-bottom {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.6rem;
}
